*~
*.la
*.lo
.#*
.deps
.libs
Makefile
Makefile.in
aclocal.m4
ati.4
ati.4x
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
cscope.files
cscope.out
depcomp
install-sh
libtool
ltmain.sh
missing
r128.4
r128.4x
radeon.4
radeon.4x
stamp-h1
*cscope*
