[Desktop Entry]
Name=Calculator
Name[am]=መደመሪያ
Name[ar]=الآلة الحاسبة
Name[ast]=Calculadora
Name[az]=Kalkulyator
Name[be]=Калькулятар
Name[bg]=Калкулатор
Name[br]=Jederez
Name[bs]=Kalkulator
Name[ca]=Calculadora
Name[cs]=Kalkulačka
Name[cy]=Cyfrifiannell
Name[da]=Lommeregner
Name[de]=Taschenrechner
Name[el]=Αριθμομηχανή
Name[en_AU]=Calculator
Name[en_CA]=Calculator
Name[en_GB]=Calculator
Name[es]=Calculadora
Name[eu]=Kalkulagailua
Name[fa]=ماشین‌حساب
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[gd]=An t-àireamhair
Name[gl]=Calculadora
Name[gu]=કેલ્ક્યુલેટર
Name[he]=מחשבון
Name[hi]=कैलकुलेटर
Name[hu]=Számológép
Name[id]=Kalkulator
Name[is]=Reiknivél
Name[it]=Calcolatrice
Name[ja]=電卓
Name[km]=ម៉ាស៊ីន​គិត​លេខ
Name[ko]=계산기
Name[lv]=Kalkulators
Name[mr]=गणनयंत्र
Name[ms]=Kalkulator
Name[my]=ဂဏန်းတွက်စက်
Name[nb]=Kalkulator
Name[ne]=क्याल्कुलेटर
Name[nl]=Rekenmachine
Name[pa]=ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[ro]=Calculator
Name[ru]=Калькулятор
Name[sa]=सङ्कलकम्
Name[shn]=ၸၢၵ်ႈၼပ့်သွၼ်
Name[sl]=Računalo
Name[sr]=Калкулатор
Name[sv]=Kalkylator
Name[ta]=கணிப்பான்
Name[te]=గణన పరికరం
Name[tr]=Hesap Makinesi
Name[ug]=ھېسابلىغۇچ
Name[uk]=Калькулятор
Name[zh_CN]=计算器
Name[zh_HK]=計數機
Name[zh_TW]=計算機
Comment=A simple calculator for Ubuntu.
Comment[am]=ለ ኡቡንቱ ቀላል መደመሪያ
Comment[ar]=آلة حاسبة بسيطة لأوبونتو.
Comment[ast]=Una calculadora cenciella pa Ubuntu.
Comment[az]=Ubuntu üçün sadә kalkulyator.
Comment[br]=Ur jederez eeun evit Ubuntu.
Comment[ca]=Una calculadora simple per a l'Ubuntu.
Comment[cy]=Cyfrifiannell hawdd ar gyfer Ubuntu.
Comment[da]=En simpel lommeregner til Ubuntu.
Comment[de]=Ein einfach Tachenrechner für Ubuntu.
Comment[el]=Μια απλή αριθμομηχανή για το Ubuntu
Comment[en_AU]=A simple calculator for Ubuntu.
Comment[en_GB]=A simple calculator for Ubuntu.
Comment[es]=Una calculadora sencilla para Ubuntu.
Comment[eu]=Ubunturako kalkulagailu sinplea.
Comment[fa]=یک ماشین حساب ساده برای اوبونتو.
Comment[fi]=Laskin Ubuntulle.
Comment[fr]=Une calculatrice simple pour Ubuntu.
Comment[gd]=Àireamhair simplidh airson Ubuntu.
Comment[gl]=Calculadora sinxela para Ubuntu.
Comment[he]=מחשבון פשוט לאובונטו.
Comment[hu]=Egyszerű számológép Ubuntuhoz.
Comment[is]=Einföld reiknivél
Comment[it]=Una semplice calcolatrice per Ubuntu.
Comment[ja]=Ubuntu用のシンプルな電卓です。
Comment[km]=ម៉ាស៊ីន​គិត​លេខ​ធម្មតា​សម្រាប់ Ubuntu ។
Comment[ko]=우분투를 위한 간단한 계산기
Comment[lv]=Vienkāršs kalkulators priekš Ubuntu
Comment[nb]=En enkel kalkulator for Ubuntu.
Comment[ne]=Ubuntu को लागि एक सरल कैलकुलेटर।
Comment[nl]=Een eenvoudige rekenmachine voor Ubuntu.
Comment[pa]=ਉਬੰਤੂ ਲਈ ਇੱਕ ਸਧਾਰਨ ਕੈਲਕੂਲੇਟਰ
Comment[pl]=Prosty kalkulator dla Ubuntu
Comment[pt]=Uma calculadora simples para o Ubuntu.
Comment[pt_BR]=Uma simples calculadora para Ubuntu
Comment[ro]=Un calculator simplu pentru Ubuntu.
Comment[ru]=Простой калькулятор для Ubuntu
Comment[sa]=Ubuntu इत्यस्मा एकं सरलं सङ्कलकम्।
Comment[sl]=Preprost kalkulator za Ubuntu.
Comment[sr]=Једноставан калкулатор за Убунту
Comment[sv]=En enkel kalkylator för Ubuntu.
Comment[tr]=Ubuntu için sade bir hesap makinesi.
Comment[ug]=ئاددىي ھېسابلىغۇچى
Comment[uk]=Простий калькулятор для Ubuntu.
Comment[zh_CN]=Ubuntu 简易计算器
Comment[zh_TW]=Ubuntu 簡易計算機。
Keywords=math;addition;subtraction;multiplication;division;
Keywords[am]=ሂሳብ;መደመሪያ;መቀነሻ;ማባዣ;ማካፈያ;
Keywords[ar]=رياضة;ياضيات;حساب;حسابات;جمع;طرح;ضرب;قسمة;
Keywords[ast]=matemática;suma;resta;multiplicación;división;
Keywords[az]=riyaziyyat;әlavә etmә;çıxma;vurma;bölmә;toplama;
Keywords[br]=matematikoù;sammadenn;lamadenn;lieskementadenn;rannadenn;
Keywords[ca]=suma;resta;calculadora;multiplica;divideix
Keywords[da]=matematik;plus;minus;gange;dividere;beregning;lommeregner;
Keywords[de]=Mathe;Mathematik;Multiplikation;Subtraktion;Addition;Division;
Keywords[en_AU]=math;addition;subtraction;multiplication;division;
Keywords[en_GB]=maths;addition;subtraction;multiplication;division;
Keywords[es]=matemática;suma;resta;multiplicación;división;
Keywords[eu]=matematikak;gehitu;kendu;biderkatu;zatitu;
Keywords[fa]=حساب;جمع;تفریق;ضرب;تقسیم
Keywords[fi]=math;addition;subtraction;multiplication;division;matematiikka;lisäys;vähennys;kertaus;jakaminen;
Keywords[fr]=math;addition;soustraction;multiplication;division;
Keywords[gd]=math;addition;subtraction;multiplication;division;matamataig;roinneadh;toirt air falbh;cur ris;iomadadh
Keywords[gl]=matemáticas;suma;resta;multiplicación;división;
Keywords[he]=מתמטיקה;חשבון;חיבור;חיסור;כפל;חילוק;
Keywords[hu]=számolás;összeadás;kivonás;szorzás;osztás;
Keywords[is]=reikna;samlagning;frádráttur;margföldun;deiling
Keywords[it]=matematica;addizioni;sottrazioni;moltiplicazioni;divisioni;
Keywords[ja]=math;addition;subtraction;multiplication;division;計算;電卓;足し算;引き算;かけ算;わり算;
Keywords[km]=math;addition;subtraction;multiplication;division;
Keywords[ko]=수학;덧셈;뺄셈;곱셈;나눗셈;
Keywords[nb]=matte;addisjon;subtraksjon;multiplikasjon;divisjon;
Keywords[ne]=गणित; जोड्; घटाउ; गुणन; विभाजन;
Keywords[nl]=math;addition;subtraction;multiplication;division;optellen;aftrekken;vermenigvuldigen;delen;
Keywords[pa]=ਹਿਸਾਬ;ਜੋੜ;ਘਟਾਉ;ਗੁਣਾ;ਭਾਗ;
Keywords[pl]=liczenie;dodawanie;odejmowanie;mnożenie;dzielenie;
Keywords[pt]=matemática;soma;subtracção;multiplicação;divisão;
Keywords[pt_BR]=matemática;adição;subtração;multiplicação;divisão
Keywords[ro]=matematică;adunare;scădere;înmulțire;împărțire
Keywords[ru]=математика;сложение;умножение;деление;
Keywords[sa]=गणितम्;योजनम्;वियोजनम्;गुणनम्;विभाजनम्;
Keywords[sl]=matematika;seštevanje;odštevanje;množenje;deljenje;
Keywords[sr]=математика;сабирање;одузимање;множење;дељење;рачунање;дигитрон;
Keywords[sv]=matematik;addition;substraktion;multiplikation;division
Keywords[tr]=matematik;ekleme;çıkarma;çarpma;bölme;toplama
Keywords[ug]=ماتېماتىكا;قوشۇش;ئېلىش;كۆپەيتىش;بۆلۈش;
Keywords[uk]=math;addition;subtraction;multiplication;division;математика;додавання;віднімання;множення;ділення;калькулятор;
Keywords[zh_CN]=数学;加;减;乘;除;
Keywords[zh_TW]=math;addition;subtraction;multiplication;division;數學;加;減;乘;除;
Type=Application
Terminal=false
Exec=yes -p com.ubuntu.calculator_calculator_1.3.329 -- qmlscene -qt5 ubuntu-calculator-app.qml
Icon=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.calculator/calculator-app@30.png
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Default-Department-ID=accessories
Path=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.calculator
X-Ubuntu-Old-Icon=calculator-app@30.png
X-Ubuntu-Application-ID=com.ubuntu.calculator_calculator_1.3.329
X-Ubuntu-Splash-Show-Header=True
X-Ubuntu-Splash-Color=#aabbcc
X-Ubuntu-Splash-Color-Header=purple
X-Ubuntu-Splash-Color-Footer=#deadbeefda
X-Ubuntu-Splash-Image=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.calculator/calculator-app@30.png
X-Ubuntu-Splash-Title=Calculator 2.0
X-Ubuntu-Splash-Title[am]=መደመሪያ 2.0
X-Ubuntu-Splash-Title[ar]=الآلة  2.0الحاسبة
X-Ubuntu-Splash-Title[ast]=Calculadora 2.0
X-Ubuntu-Splash-Title[az]=Kalkulyator 2.0
X-Ubuntu-Splash-Title[be]=Калькулятар 2.0
X-Ubuntu-Splash-Title[bg]=Калкулатор 2.0
X-Ubuntu-Splash-Title[br]=Jederez 2.0
X-Ubuntu-Splash-Title[bs]=Kalkulator 2.0
X-Ubuntu-Splash-Title[ca]=Calculadora 2.0
X-Ubuntu-Splash-Title[cs]=Kalkulačka 2.0
X-Ubuntu-Splash-Title[cy]=Cyfrifiannell 2.0
X-Ubuntu-Splash-Title[da]=Lommeregner 2.0
X-Ubuntu-Splash-Title[de]=Taschenrechner 2.0
X-Ubuntu-Splash-Title[el]=Αριθμομηχανή 2.0
X-Ubuntu-Splash-Title[en_AU]=Calculator 2.0
X-Ubuntu-Splash-Title[en_CA]=Calculator 2.0
X-Ubuntu-Splash-Title[en_GB]=Calculator 2.0
X-Ubuntu-Splash-Title[es]=Calculadora 2.0
X-Ubuntu-Splash-Title[eu]=Kalkulagailua 2.0
X-Ubuntu-Splash-Title[fa]= 2.0ماشین‌حساب
X-Ubuntu-Splash-Title[fi]=Laskin 2.0
X-Ubuntu-Splash-Title[fr]=Calculatrice 2.0
X-Ubuntu-Splash-Title[gd]=An t-àireamhair 2.0
X-Ubuntu-Splash-Title[gl]=Calculadora 2.0
X-Ubuntu-Splash-Title[gu]=કેલ્ક્યુલેટર 2.0
X-Ubuntu-Splash-Title[he]= 2.0מחשבון
X-Ubuntu-Splash-Title[hi]=कैलकुलेटर 2.0
X-Ubuntu-Splash-Title[hu]=Számológép 2.0
X-Ubuntu-Splash-Title[id]=Kalkulator 2.0
X-Ubuntu-Splash-Title[is]=Reiknivél 2.0
X-Ubuntu-Splash-Title[it]=Calcolatrice 2.0
X-Ubuntu-Splash-Title[ja]=電卓 2.0
X-Ubuntu-Splash-Title[km]=ម៉ាស៊ីន​គិត​លេខ 2.0
X-Ubuntu-Splash-Title[ko]=계산기 2.0
X-Ubuntu-Splash-Title[lv]=Kalkulators 2.0
X-Ubuntu-Splash-Title[mr]=गणनयंत्र 2.0
X-Ubuntu-Splash-Title[ms]=Kalkulator 2.0
X-Ubuntu-Splash-Title[my]=ဂဏန်းတွက်စက် 2.0
X-Ubuntu-Splash-Title[nb]=Kalkulator 2.0
X-Ubuntu-Splash-Title[ne]=क्याल्कुलेटर 2.0
X-Ubuntu-Splash-Title[nl]=Rekenmachine 2.0
X-Ubuntu-Splash-Title[pa]=ਕੈਲਕੂਲੇਟਰ 2.0
X-Ubuntu-Splash-Title[pl]=Kalkulator 2.0
X-Ubuntu-Splash-Title[pt]=Calculadora 2.0
X-Ubuntu-Splash-Title[pt_BR]=Calculadora 2.0
X-Ubuntu-Splash-Title[ro]=Calculator 2.0
X-Ubuntu-Splash-Title[ru]=Калькулятор 2.0
X-Ubuntu-Splash-Title[sa]=सङ्कलकम् 2.0
X-Ubuntu-Splash-Title[shn]=ၸၢၵ်ႈၼပ့်သွၼ် 2.0
X-Ubuntu-Splash-Title[sl]=Računalo 2.0
X-Ubuntu-Splash-Title[sr]=Калкулатор 2.0
X-Ubuntu-Splash-Title[sv]=Kalkylator 2.0
X-Ubuntu-Splash-Title[ta]=கணிப்பான் 2.0
X-Ubuntu-Splash-Title[te]=గణన పరికరం 2.0
X-Ubuntu-Splash-Title[tr]=Hesap Makinesi 2.0
X-Ubuntu-Splash-Title[ug]= 2.0ھېسابلىغۇچ
X-Ubuntu-Splash-Title[uk]=Калькулятор 2.0
X-Ubuntu-Splash-Title[zh_CN]=计算器 2.0
X-Ubuntu-Splash-Title[zh_HK]=計數機 2.0
X-Ubuntu-Splash-Title[zh_TW]=計算機 2.0
