Source: platform-api
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               libgl1-mesa-dev[!armhf],
               libgles2-mesa-dev[armhf],
               libhybris-dev[armhf],
               pkg-config,
               libmirclient-dev,
               libmirserver-dev
Standards-Version: 3.9.4
Section: devel
Homepage: https://launchpad.net/platform-api
Vcs-Bzr: lp:platform-api
# If you aren't a member of http://pad.lv/~phablet-team but need to upload packaging changes,
# just go ahead.  http://pad.lv/~phablet-team will notice and sync up the code again.
Vcs-Browser: https://code.launchpad.net/platform-api

Package: libplatform-api-headers
Section: libdevel
Pre-Depends: ${misc:Pre-Depends},
Multi-Arch: same
Architecture: i386 amd64 armhf
Depends: ${misc:Depends},
Description: Platform API for system level capabilities (API headers)
 This package provides the library headers for the Platform API.
 .
 Unless a new backend for the Platform API is developed, packages
 should build depend on the libplatform-api-dev package instead, which
 will pull this package as well.

Package: libplatform-api1-dev
Section: libdevel
Pre-Depends: ${misc:Pre-Depends},
Multi-Arch: same
Architecture: armhf
Depends: libgles2-mesa-dev,
         libplatform-api-headers (= ${binary:Version}),
         libplatform-api1-hybris | libplatform-api1,
         ${misc:Depends},
Description: Platform API for system level capabilities (development)
 This package provides the development library and headers (via
 dependency) for the Platform API.

Package: libplatform-api1-mirserver
Section: libs
Pre-Depends: ${misc:Pre-Depends},
Multi-Arch: same
Architecture: any
Depends: libmirserver0,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Implementation of the Platform API for a Mir server 
 This package provides the implementation of the Platform API to
 provide a server instance of Mir.

Package: libplatform-api1-mirclient
Section: libs
Pre-Depends: ${misc:Pre-Depends},
Multi-Arch: same
Architecture: any
Depends: libmirclient0,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Implementation of the Platform API for a Mir client
 This package provides the implementation of the Platform API to
 allow a client to connect to a Mir server.

Package: libplatform-api1-hybris
Provides: libplatform-api1,
Conflicts: libplatform-api1,
Replaces: libplatform-api1,
Section: libs
Pre-Depends: ${misc:Pre-Depends},
Multi-Arch: same
Architecture: armhf
Depends: libhybris,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Hybris implementation of the Platform API (runtime)
 This package provides the hybris implementation of the Platform API.
 .
 The produced library should be used via libhybris, to communicate with the
 Android userspace, which is where the Ubuntu Application Manager lives.

Package: libplatform-api1-hybris-tests
Architecture: i386 amd64 armhf
Depends: libplatform-api1-hybris (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Hybris implementation of the Platform API (tests)
 This package provides the test cases for the hybris implementation
 of the Platform API.

Package: ubuntu-platform-api-headers
Section: oldlibs
Architecture: all
Depends: libplatform-api-headers (= ${binary:Version}),
         ${misc:Depends},
Description: dummy transitional package for libplatform-api-headers
 This is dummy transitional package, please use libplatform-api-headers instead.
 .
 This package can be safely removed.

Package: libubuntu-platform-api1-dev
Section: oldlibs
Architecture: all
Depends: libplatform-api1-dev (= ${binary:Version}),
         ${misc:Depends},
Description: dummy transitional package for libplatform-api1-dev
 This is dummy transitional package, please use libplatform-api1-dev instead.
 .
 This package can be safely removed.

Package: ubuntu-platform-implementation-android
Section: oldlibs
Architecture: all 
Provides: libubuntu-platform-api1,
Conflicts: libubuntu-platform-api1,
Replaces: libubuntu-platform-api1,
Depends: libplatform-api1-hybris (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: dummy transitional package for libplatform-api1-hybris
 This is dummy transitional package, please use libplatform-api1-hybris instead.
 .
 This package can be safely removed.

Package: ubuntu-platform-implementation-android-tests
Architecture: all
Section: oldlibs
Depends: libplatform-api1-hybris-tests (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: dummy transitional package for libplatform-api1-hybris-tests
 This is dummy transitional package, please use libplatform-api1-hybris-tests instead.
 .
 This package can be safely removed.
