Source: qtmir
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               google-mock (>= 1.6.0+svn437),
# We rely on C++11 features, and to prevent from ABI breaks
# in libstdc++ causing us issues, we explicitly select a G++
# version.
               g++-4.9,
               libboost-system-dev,
               libfontconfig1-dev,
               libglib2.0-dev,
               libmirclient-dev (>= 0.6.0),
               libmirserver-dev (>= 0.6.0),
               libprocess-cpp-dev,
               libqt5sensors5-dev,
               libubuntu-app-launch2-dev,
               libubuntu-application-api-dev (>= 2.1.0),
               libudev-dev,
               libunity-api-dev (>= 7.89),
               liburl-dispatcher1-dev,
               libxkbcommon-dev,
               libxrender-dev,
               libmircommon-dev,
               pkg-config,
               protobuf-compiler,
               qt5-default,
               qtbase5-dev,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtdeclarative5-private-dev,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/qtmir
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:qtmir
Vcs-Browser: http://bazaar.launchpad.net/~mir-team/qtmir/trunk/files

Package: qtmir-android
Architecture: armhf
Multi-Arch: same
Conflicts: qtmir-desktop,
           qtubuntu-desktop,
           libqtmir,
Replaces: qtmir-desktop,
          qtubuntu-desktop,
          libqtmir,
Provides: qtmir
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Qt platform abstraction (QPA) plugin for a Mir server (mobile)
 QtMir is a set of Qt5 components to enable one to write a Mir server with Qt.
 It contains a QPA (Qt Platform Abstraction) plugin which creates and manages
 a Mir server. It also exposes some internal Mir functionality.
 .
 This variant of the package is for Android-based phones and tablets.

Package: qtmir-desktop
Architecture: any
Multi-Arch: same
Conflicts: qtmir-android,
           qtubuntu-android,
Replaces: qtmir-android,
          qtubuntu-android,
          libqtmir,
Provides: qtmir
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Qt platform abstraction (QPA) plugin for a Mir server (desktop)
 QtMir is a set of Qt5 components to enable one to write a Mir server with Qt.
 It contains a QPA (Qt Platform Abstraction) plugin which creates and manages
 a Mir server. It also exposes some internal Mir functionality.
 .
 This variant of the package is for GNU-based desktops.


Package: qtdeclarative5-qtmir-plugin
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qtmir-desktop | qtmir-android
Replaces: libunity-mir1,
          libqtmir,
Conflicts: libunity-mir1,
           libqtmir,
Provides: unity-application-impl,
          unity-application-impl-4,
Description: Qt plugin for Unity specific Mir APIs
 QtMir provides Qt/QML bindings for Mir features that are exposed through the
 qtmir-desktop or qtmir-android QPA plugin such as Application management
 (start/stop/suspend/resume) and surface management.
