#!/usr/bin/make -f

DPKG_GENSYMBOLS_CHECK_LEVEL = 4

gles2_architectures := armhf
ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), $(gles2_architectures)))
	use_gles=1
else
	use_gles=0
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DUSE_GLES=$(use_gles) -DPLATFORM_API_IMPLEMENTATION=mirserver

overrid_dh_install:
	dh_install --fail-missing
