#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

include /usr/share/dpkg/default.mk

# Explicitly selecting a G{CC,++}-version here to avoid accidental
# ABI breaks introduced by toolchain updates.
export CC=$(DEB_HOST_GNU_TYPE)-gcc-4.9
export CXX=$(DEB_HOST_GNU_TYPE)-g++-4.9

FLAGS = "QMAKE_CXX=$(CXX)" "QMAKE_LINK=$(CXX)" "QMAKE_LINK_SHLIB=$(CXX)"

ANDROID_DIR = build-android
DESKTOP_DIR = build-desktop
TMP1_DIR = $(CURDIR)/debian/tmp1
TMP2_DIR = $(CURDIR)/debian/tmp2

# We only want to build qtmir-android on arches using Qt built with OpenGL ES2.0
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
gles2_architectures = armhf

USES_GLES2 = $(findstring $(DEB_HOST_ARCH), $(gles2_architectures))

%:
	dh $@ --parallel --fail-missing

override_dh_clean:
ifeq ($(DEB_HOST_ARCH),$(USES_GLES2))
	rm -rf $(TMP1_DIR)
endif
	rm -rf $(TMP2_DIR)
	dh_clean

override_dh_auto_configure:
ifeq ($(DEB_HOST_ARCH),$(USES_GLES2))
	mkdir -p $(ANDROID_DIR) && dh_auto_configure -B$(ANDROID_DIR) -- $(FLAGS) $(CURDIR) -DCMAKE_INSTALL_PREFIX=$(TMP1_DIR)/usr/ -DUSE_OPENGLES=1
# See comment in CMakeLists.txt
	mkdir -p $(DESKTOP_DIR) && dh_auto_configure -B$(DESKTOP_DIR) -- $(FLAGS) $(CURDIR) -DCMAKE_INSTALL_PREFIX=$(TMP2_DIR)/usr/ -DUSE_OPENGL_BUT_LINK_AGAINST_OPENGLES=1
else
	mkdir -p $(DESKTOP_DIR) && dh_auto_configure -B$(DESKTOP_DIR) -- $(FLAGS) "-DCMAKE_CXX_FLAGS=-DQTMIR_USE_OPENGL" $(CURDIR) -DCMAKE_INSTALL_PREFIX=$(TMP2_DIR)/usr/
endif

override_dh_auto_build:
ifeq ($(DEB_HOST_ARCH),$(USES_GLES2))
	dh_auto_build -B$(ANDROID_DIR)
endif
	dh_auto_build -B$(DESKTOP_DIR)

override_dh_auto_test:
ifeq ($(DEB_HOST_ARCH),$(USES_GLES2))
	dh_auto_test -B$(ANDROID_DIR)
endif
	dh_auto_test -B$(DESKTOP_DIR)

override_dh_auto_install:
ifeq ($(DEB_HOST_ARCH),$(USES_GLES2))
	mkdir -p $(TMP1_DIR) && cd $(ANDROID_DIR) && INSTALL_ROOT=$(TMP1_DIR) make install
	cd $(CURDIR)
endif
	mkdir -p $(TMP2_DIR) && cd $(DESKTOP_DIR) && INSTALL_ROOT=$(TMP2_DIR) make install
	cd $(CURDIR)

override_dh_install:
ifeq ($(DEB_HOST_ARCH),$(USES_GLES2))
	dh_install --sourcedir=$(TMP1_DIR) -pqtmir-android
endif
	dh_install --sourcedir=$(TMP2_DIR) -pqtmir-desktop
	dh_install --sourcedir=$(TMP2_DIR) -pqtdeclarative5-qtmir-plugin

